{% extends "_base.html" %}


{% block content %}

<div class="block p-4 bg-white border border-gray-200 rounded-lg shadow">
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dashboard</h5>
<div class="grid grid-cols-4 gap-2">

<div class="block p-2 bg-white border border-gray-200 rounded-lg shadow col-span-1">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Users : 40</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Active Users : 10</p>
</div>
<div class="block p-2 bg-white border border-gray-200 rounded-lg shadow col-span-1">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vehicles : 40</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Active Vehicles : 10</p>
</div>
<div class="block p-2 bg-white border border-gray-200 rounded-lg shadow col-span-1">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Service costs</h5>
    <div class="grid grid-cols-2">
        <div>
                <p class="font-small text-gray-700 dark:text-gray-400">last 7 days</p>
                <p class="font-small text-gray-700 dark:text-gray-400">10000$</p>
        </div>
        <div>
                <p class="font-small text-gray-700 dark:text-gray-400">last 30 days</p>
                <p class="font-small text-gray-700 dark:text-gray-400">100000$</p>
        </div>
    </div>
</div>
<div class="block p-2 bg-white border border-gray-200 rounded-lg shadow col-span-1">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mileage:</h5>
    <div class="grid grid-cols-2">
        <div>
                <p class="font-small text-gray-700 dark:text-gray-400">last 7 days</p>
                <p class="font-small text-gray-700 dark:text-gray-400">10000</p>
        </div>
        <div>
                <p class="font-small text-gray-700 dark:text-gray-400">last 30 days</p>
                <p class="font-small text-gray-700 dark:text-gray-400">100000</p>
        </div>
    </div>

</div>
</div>
</div>
{% endblock content %}