{% extends "_base.html" %}


{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
          <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
              <div class="flex items-center flex-1 space-x-4">
                  <h2 class="text-4xl font-extrabold dark:text-white">Services</h2>
              </div>
          </div>
          <div class="overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-4 py-3">Service Date</th>
                          <th scope="col" class="px-4 py-3">Total</th>
                          <th scope="col" class="px-4 py-3">Service fields</th>
                          <th scope="col" class="px-4 py-3">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for service in services %}
                      <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                          <th scope="row" class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ service.service_date }}
                          </th>
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ service.get_service_cost }}</td>
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ service.get_service_fields_names_string }}</td>
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              <a href="{% url 'vehicle_details' id=service.vehicle.id %}">{{ service.vehicle.name }}</a>
                          </td>
                          <td class="px-4 py-2">
                                          <a href="{% url 'service_details' id=service.id %}">
                <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Details</button>
            </a>
                          </td>
                      </tr>

                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>

{% endblock content %}
