{% extends "_base.html" %}


{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
          <div class="p-2">
              <div class="w-full">
            <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">Services details</h2>
                  <div>Service Date {{ service.service_date }}</div>
              </div>
          </div>
        <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

 <div class="overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-4 py-3">Name</th>
                          <th scope="col" class="px-4 py-3">Cost</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for field in service_fields %}
                      <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ field.name }}</td>
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ field.cost }}</td>
                      </tr>
                  {% endfor %}
                      <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">

                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">Total</td>
                          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ service.get_service_cost }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
        </div>
    </div>
</section>

{% endblock content %}
